/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');

.iziToast-close {
  background: url("../public/img/vector.svg") no-repeat center !important;
  background-size: 12px !important;
  width: 12px;
  height: 12px;
  opacity: 1 !important;

}

.form {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  gap: 8px;
}

.form input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  outline: none;
  padding-left: 16px;
  border: 1px solid #808080;
}

.form input:hover {
  border: 1px solid #000;
}

.form input:active,
.form input:focus {
  border: 1px solid #4e75ff;
}

.form button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  background: #4e75ff;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
}

.form button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
  padding-top: 32px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
  border: 1px solid #808080;
  background: #fff;
}



.gallery-sublist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  margin-top: 4px;
  padding: 0 20px 0 20px;
}

.gallery-subitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 152px;
}

.sub-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.sub-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  display: flex;
  margin: 0 auto;
}


.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.load-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.load-more:hover {
  background-color: #0056b3;
}